*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}

.cont{
margin: 15px;
top:40px;
position: relative;
/* For testing purpose */
/* background-color: gold; */
}


.general{
    margin: 15px;
    padding:25px;
    position: relative;
    background-color: grey;
    border: 2px solid black;
    top:0;
}

.para_text{
    margin-top:15px;
    text-align: justify;
    font-size: 90%;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.row{
    width:100%;
}
.title_menu{
    text-align: center;
    margin-bottom:15px;
    color:brown;
}

@media (min-width:992px){
    .column-large{
        float: left;
        width:33.33%;
        /* background-color: darkblue; */
    }
}
@media(max-width:991px) and (min-width:768px){
    .column-medium-1, .column-medium-2{
        float: left;
    }
    .column-medium-1{
        width: 50%;
    }
    .column-medium-2{
        width: 100%;
    }
}

@media(max-width: 767px){
    .column-small{
        float:left;
        width:100%;
    }
}

.box{
right:0px;
top:0;
border-bottom: 2px solid black;
border-left: 2px solid black;
padding:4px 45px;
position: absolute;
}
.box1{
    background-color: lightpink;
}
.box2{
    background-color:lightsalmon;
}
.box3{
    background-color: lightgreen
}